apiVersion: v1
kind: Service
metadata:
  name: myapp-clusterip-service
  namespace: k8s-monitoring-task-ns
spec:
  type: ClusterIP
  selector:
    app: myapp
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8000
